* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;

}

#primeiradiv {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#primeiradiv::before {
    z-index: 0;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: black;

}

#segundadiv {
    align-items: center;
    position: absolute;

}

#idoso {
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    z-index: -1;

}



h1 {
    text-align: center;
    padding: 10px;
    letter-spacing: 0.3em;
    font-size: 84px;
    font-weight: 400;
    color: #ffffff;


}

h2 {
    text-align: center;
    padding: 0px;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.2em;
    color: #ffffff;
}

#ano {
    font-weight: 300;
    padding: 35px;
    gap: 30px;
    letter-spacing: 0.4em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;


}

#ano::before,
#ano::after {
    content: "";
    border-top: 2px solid #8a8a8a;
    width: 5px;
    display: block;
    padding: 0 20px;

}


#materia {
    color: #ffffff;
    margin: 20px;
    gap: 30px;
    font-size: 24px;
    font-weight:300;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding: 20px;
    letter-spacing: 0.3em;
}

#materia::before,
#materia::after {
    content: "";
    border-top: 2px solid #8a8a8a;
    width: 30px;
    display: block;
    padding: 0 40px;
}
